@{
    // 布局和标题
    Layout = "~/Layout/_SiteLayout.cshtml";
    Page.Title = "xxx";
}

<h1>xxxx</h1>

<h2>xxxx</h2>
<div class="section">
    xxxxxxxxxxxxxxxxxxxxx
</div>

<h2>xxxx</h2>
<div class="section">
    xxxxxxxxxxxxxxxxxxxxx
</div>
