<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.web>
        <compilation targetFramework="4.0" debug="true" />
        <pages controlRenderingCompatibilityVersion="4.0" />
    </system.web>
    <connectionStrings>
        <add connectionString="data source=127.0.0.1;initial catalog=food;user id=sa;Pwd="
             name="food" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>