<div class="navheader">管理中心</div>

<div class="menuheader">订单管理</div>
<ul>
    <li><a href="~/Admin/Order">订单管理</a></li>
</ul>

<div class="menuheader">产品管理</div>
<ul>
    <li><a href="~/Admin/Product">产品管理</a></li>
    <li><a href="~/Admin/Category">类型管理</a></li>
    <li><a href="~/Admin/Material">制作材料管理</a></li>
    <li><a href="~/Admin/Nutrition">营养成分管理</a></li>
</ul>

<div class="menuheader">用户管理</div>
<ul>
    <li><a href="~/Admin/User">用户管理</a></li>
</ul>

<div class="menuheader">意见反馈</div>
<ul>
    <li><a href="~/Admin/Feedback">意见反馈管理</a></li>
</ul>

<div class="menuheader">流量统计</div>
<ul>
    <li><a href="http://www.cnzz.com/stat/website.php?web_id=5270449" target="_blank" onclick="alert('密码：enjoylife\n\n点击确定继续。')">cnzz统计</a></li>
</ul>

<div class="menuheader">帐号管理</div>
<ul>
    <li><a href="~/Admin/Logout">退出</a></li>
</ul>