<div class="navheader">会员中心</div>

<div class="menuheader">订单管理</div>
<ul>
    <li><a href="~/My/Order">我的订单</a></li>
</ul>

<div class="menuheader">帐号管理</div>
<ul>
    <li><a href="~/My/Info">会员信息</a></li>
    <li><a href="~/My/ChangePass">修改密码</a></li>
</ul>